  .loadMoreBtn {
    height: 60px;
    width: 175px;
    margin: 0 auto;
    display: block;
    border: solid #404c5d 1px;
    font-size: 26px;
    color: rgb(161, 161, 161);
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
      inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    transition: 500ms;
  }

  .loadMoreBtn:hover {
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
    transition: 500ms;
  }

  .loadMoreBtn:active {
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
    transition: 100ms;
  }